<%- include('partials/header') %>

<div class="data">
    <div>
        <h5>Current temperature in <%= query.charAt(0).toUpperCase() + query.slice(1) %></h5>
        <h3><%= temp %>°C</h3>
        <img src="<%= imgUrl %>">
        <p>Feels like <%= feelsLike %>°C</p>
    </div>
    <div>
        <p>The weather is currently <%= description %></p>
        <p>Wind speed: <%= windSpeed %> kmph</p>
        <p>Humidity: <%= humidity %>%</p>
    </div>
</div>

<%- include('partials/footer') %>
